

:root {
    /* COLORS */
    --bg-main-color: #0c0a0f;
    --bg-accent-color: #16141a;
    --primary-color: #a855f7;
    --primary-rgb-color: 168, 85, 247;
    --primary-bright-color: #d7c0ed;
    --primary-dark-color: #1400238c;
    --text-color: #e4e4e7;
    --glass-color: rgba(10, 10, 12, 0.7);
    --border-color: rgba(255, 255, 255, 0.08);
    --hotbar-color: #4c4c4c;
    --hotbar-border: rgba(255, 255, 255, 0.5);

    /* FONT */
    --default-font: 'Jersey 10', sans-serif;
}